@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="text-center">
        <h1 class="display-4" style="font-size: 6vh; position: fixed; width: 85%; text-align: left;" id="welcome">Fill Head Visualisation</h1>
    </div>
</body>